body {
    font-family: Arial, sans-serif;
    background-color: #4290a7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #198888;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(11, 12, 86, 0.2);
}

.letters {
    margin: 20px 0;
    font-size: 24px;
    letter-spacing: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}